In [91]:
#### Author : Maximiliano Lopez Salgado
#### First commit: 2023-05-05
#### Last commit: 2023-05-12
#### Description: This notebook is used to explore the bike data set

<center><h1>Data Wrangling</center></h1>

In [92]:
# import ML libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import math
import folium

In [93]:
# import day dataset from csv file and store it in a dataframe named day
day = pd.read_csv('/Users/maximilianolopezsalgado/data_projects/capital_bike_sharing/datasets/day.csv')

# import hour dataset from csv file and store it in a dataframe named hour
hour = pd.read_csv('/Users/maximilianolopezsalgado/data_projects/capital_bike_sharing/datasets/hour.csv')

# print the first 5 rows of the day dataset
display(day.head())

# print the first 5 rows of the hour dataset
display(hour.head())

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [94]:
# Check the shape of datasets and column names for day and hour datasets 
print('Shape of day dataset: ', day.shape)
print('Shape of hour dataset: ', hour.shape)

Shape of day dataset:  (731, 16)
Shape of hour dataset:  (17379, 17)

In [95]:
# look out for missing values in day dataset
print('Missing values in day dataset: ', day.isnull().sum())

# look out for missing values in hour dataset
print('Missing values in hour dataset: ', hour.isnull().sum())

Missing values in day dataset:  instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64
Missing values in hour dataset:  instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [96]:
# check the data types for day dataset
print('Data types for day dataset: ', day.dtypes)

# check the data types for hour dataset
print('Data types for hour dataset: ', hour.dtypes)

Data types for day dataset:  instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object
Data types for hour dataset:  instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [97]:
# check the unique values for each column in day dataset
print('Unique values for each column in day dataset: ', day.nunique())

# check the unique values for each column in hour dataset
print('Unique values for each column in hour dataset: ', hour.nunique())

Unique values for each column in day dataset:  instant       731
dteday        731
season          4
yr              2
mnth           12
holiday         2
weekday         7
workingday      2
weathersit      3
temp          499
atemp         690
hum           595
windspeed     650
casual        606
registered    679
cnt           696
dtype: int64
Unique values for each column in hour dataset:  instant       17379
dteday          731
season            4
yr                2
mnth             12
hr               24
holiday           2
weekday           7
workingday        2
weathersit        4
temp             50
atemp            65
hum              89
windspeed        30
casual          322
registered      776
cnt             869
dtype: int64

In [98]:
#### Checking the descriptive statistics is now not necessary because the data is normalized.

In [99]:
# check the descriptive statistics for day dataset
# print('Descriptive statistics for day dataset: ', day.describe())

# check the descriptive statistics for hour dataset
# print('Descriptive statistics for hour dataset: ', hour.describe())

In [100]:
# rename the hour dataset to bike
bike = hour

In [101]:
# change the data type for dteday column to datetime
bike['dteday'] = pd.to_datetime(bike['dteday'])

# check the data types for the concatenated dataset
print('Data types for concatenated dataset: ', bike.dtypes)

Data types for concatenated dataset:  instant                int64
dteday        datetime64[ns]
season                 int64
yr                     int64
mnth                   int64
hr                     int64
holiday                int64
weekday                int64
workingday             int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [102]:
# change the name of the columns in the concatenated dataset to make them more readable
bike.rename(columns={'dteday':'date','yr':'year', 'mnth':'month', 'hr':'hour', 'weathersit':'weather', 'casual':'casual_user', 'registered':'registered_user', 'hum':'humidity', 'cnt':'count', 'atemp':'apparent_temp'}, inplace=True)

# check the column names for the concatenated dataset
print('Column names for concatenated dataset: ', bike.columns)

Column names for concatenated dataset:  Index(['instant', 'date', 'season', 'year', 'month', 'hour', 'holiday',
       'weekday', 'workingday', 'weather', 'temp', 'apparent_temp', 'humidity',
       'windspeed', 'casual_user', 'registered_user', 'count'],
      dtype='object')

In [103]:
# rename names and values in columns to make them look human readable
# change the values of holiday column to month names
bike.loc[bike['holiday'] == 0, 'holiday'] = 'No'
bike.loc[bike['holiday'] == 1, 'holiday'] = 'Yes'

# change the values of season column to month names

bike.loc[bike['season'] == 1, 'season'] = 'Winter'
bike.loc[bike['season'] == 2, 'season'] = 'Spring'
bike.loc[bike['season'] == 3, 'season'] = 'Summer'
bike.loc[bike['season'] == 4, 'season'] = 'Fall'

# change the values of workingday column to month names

bike.loc[bike['workingday'] == 0, 'workingday'] = 'No'
bike.loc[bike['workingday'] == 1, 'workingday'] = 'Yes'

# change the values of weather column to month names

bike.loc[bike['weather'] == 1, 'weather'] = 'Clear'
bike.loc[bike['weather'] == 2, 'weather'] = 'Mist-Cloudy'
bike.loc[bike['weather'] == 3, 'weather'] = 'Light-Rain'
bike.loc[bike['weather'] == 4, 'weather'] = 'Heavy-Rain'

# change the values of weekday column to month names

bike.loc[bike['weekday'] == 0, 'weekday'] = 'Monday'
bike.loc[bike['weekday'] == 1, 'weekday'] = 'Tuesday'
bike.loc[bike['weekday'] == 2, 'weekday'] = 'Wednesday'
bike.loc[bike['weekday'] == 3, 'weekday'] = 'Thursday'
bike.loc[bike['weekday'] == 4, 'weekday'] = 'Friday'
bike.loc[bike['weekday'] == 5, 'weekday'] = 'Saturday'
bike.loc[bike['weekday'] == 6, 'weekday'] = 'Sunday'

# temp column: normalize temperature in celsius. Formula: (t-t_min)/(t_max-t_min), t_min=-8, t_max=+39 (from dataset description)
t_min = -8  # Minimum temperature value in Celsius
t_max = 39  # Maximum temperature value in Celsius

# Convert normalized temperature values back to Celsius
bike['temp'] = bike['temp'].apply(lambda x: (x*(t_max-t_min))+t_min)

# display the range of values for temp column
display(print('Range of values for temp column: ', bike['temp'].min(), bike['temp'].max()))

# atemp column: normalize feeling temperature in celsius. Formula: (t-t_min)/(t_max-t_min), t_min=-16, t_max=+50 (from dataset description)
at_min=-16
at_max=+50

# Convert normalized feeling temperature values back to Celsius
bike['apparent_temp'] = bike['apparent_temp'].apply(lambda x: (x*(at_max-at_min))+at_min)

# display the range of values for atemp column
display(print('Range of values for atemp column: ', bike['apparent_temp'].min(), bike['apparent_temp'].max()))

# hum column: normalize humidity. Formula: (hum-hum_min)/(hum_max-hum_min), hum_min=0, hum_max=1 (from dataset description)
bike['humidity'] = bike['humidity'].apply(lambda x: x/100)

# windspeed column: Normalized wind speed. The values are divided to 67 (max) (from dataset description)
windspeed_min=0
windspeed_max=0.85

# Convert normalized windspeed values back to not normalized values (km/h) The values are divided to 67 (from dataset description)       
bike['windspeed'] = bike['windspeed'].apply(lambda x: (x * 67))

# display the range of values for windspeed column
display(print('Range of values for windspeed column: ', bike['windspeed'].min(), bike['windspeed'].max()))

# change the values of humidity column to percentage
bike['humidity'] = bike['humidity'].apply(lambda x: x*100)

# print the range of values for humidity column
display(print('Range of values for humidity column: ', bike['humidity'].min(), bike['humidity'].max()))

# change the values of month column to month names

bike.loc[bike['month'] == 1, 'month'] = 'January'
bike.loc[bike['month'] == 2, 'month'] = 'February'
bike.loc[bike['month'] == 3, 'month'] = 'March'
bike.loc[bike['month'] == 4, 'month'] = 'April'
bike.loc[bike['month'] == 5, 'month'] = 'May'
bike.loc[bike['month'] == 6, 'month'] = 'June'
bike.loc[bike['month'] == 7, 'month'] = 'July'
bike.loc[bike['month'] == 8, 'month'] = 'August'
bike.loc[bike['month'] == 9, 'month'] = 'September'
bike.loc[bike['month'] == 10, 'month'] = 'October'
bike.loc[bike['month'] == 11, 'month'] = 'November'
bike.loc[bike['month'] == 12, 'month'] = 'December'

bike.loc[bike['year'] == 0, 'year'] = '2011'
bike.loc[bike['year'] == 1, 'year'] = '2012'


# check the unique values for each column in bike dataset
display(print('Unique values for each column in bike dataset: ', bike.nunique()))

# print the first 5 rows of the bike dataset to check the changes made to the columns names and values
display(bike.head())

Range of values for temp column:  -7.06 39.0

None

Range of values for atemp column:  -16.0 50.0

None

Range of values for windspeed column:  0.0 56.996900000000004

None

Range of values for humidity column:  0.0 1.0

None

Unique values for each column in bike dataset:  instant            17379
date                 731
season                 4
year                   2
month                 12
hour                  24
holiday                2
weekday                7
workingday             2
weather                4
temp                  50
apparent_temp         65
humidity              89
windspeed             30
casual_user          322
registered_user      776
count                869
dtype: int64

None

,instant,date,season,year,month,hour,holiday,weekday,workingday,weather,temp,apparent_temp,humidity,windspeed,casual_user,registered_user,count
0,1,2011-01-01,Winter,2011,January,0,No,Sunday,No,Clear,3.28,3.0014,0.81,0.0,3,13,16
1,2,2011-01-01,Winter,2011,January,1,No,Sunday,No,Clear,2.34,1.9982,0.80,0.0,8,32,40
2,3,2011-01-01,Winter,2011,January,2,No,Sunday,No,Clear,2.34,1.9982,0.80,0.0,5,27,32
3,4,2011-01-01,Winter,2011,January,3,No,Sunday,No,Clear,3.28,3.0014,0.75,0.0,3,10,13
4,5,2011-01-01,Winter,2011,January,4,No,Sunday,No,Clear,3.28,3.0014,0.75,0.0,0,1,1

In [104]:
# check the descriptive statistics for the bike and hours dataset
display(bike.describe())
display(hour.describe())

,instant,hour,temp,apparent_temp,humidity,windspeed,casual_user,registered_user,count
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,11.546752,15.358397,15.401157,0.627229,12.736540,35.676218,153.786869,189.463088
std,5017.0295,6.914405,9.050138,11.342114,0.192930,8.196795,49.305030,151.357286,181.387599
min,1.0000,0.000000,-7.060000,-16.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,6.000000,7.980000,5.997800,0.480000,7.001500,4.000000,34.000000,40.000000
50%,8690.0000,12.000000,15.500000,15.996800,0.630000,12.998000,17.000000,115.000000,142.000000
75%,13034.5000,18.000000,23.020000,24.999200,0.780000,16.997900,48.000000,220.000000,281.000000
max,17379.0000,23.000000,39.000000,50.000000,1.000000,56.996900,367.000000,886.000000,977.000000

,instant,hour,temp,apparent_temp,humidity,windspeed,casual_user,registered_user,count
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,11.546752,15.358397,15.401157,0.627229,12.736540,35.676218,153.786869,189.463088
std,5017.0295,6.914405,9.050138,11.342114,0.192930,8.196795,49.305030,151.357286,181.387599
min,1.0000,0.000000,-7.060000,-16.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,6.000000,7.980000,5.997800,0.480000,7.001500,4.000000,34.000000,40.000000
50%,8690.0000,12.000000,15.500000,15.996800,0.630000,12.998000,17.000000,115.000000,142.000000
75%,13034.5000,18.000000,23.020000,24.999200,0.780000,16.997900,48.000000,220.000000,281.000000
max,17379.0000,23.000000,39.000000,50.000000,1.000000,56.996900,367.000000,886.000000,977.000000

In [105]:
# transform the data type for the columns in the bike dataset into category in order to make them usable for the future analysis
bike['year'] = bike['year'].astype('datetime64[ns]')
bike['month'] = bike['month'].astype('category')
bike['weekday'] = bike['weekday'].astype('category')
bike['season'] = bike['season'].astype('category')
bike['weather'] = bike['weather'].astype('category')
bike['holiday'] = bike['holiday'].astype('category')
bike['workingday'] = bike['workingday'].astype('category')

In [106]:
# create a new column name called day_period to classify the hour in the datasetâ€š
# create a function to classify the hour
def day_period(hour):
    if hour >= 0 and hour <= 6:
        return 'Dawn'
    elif hour > 6 and hour <= 12:
        return 'Morning'
    elif hour > 12 and hour <= 18:
        return 'Afternoon'
    else:
        return 'Night'

# apply the function to the column hour
bike['day_period'] = bike['hour'].apply(day_period)

In [107]:
# Create a new column name called warmness to classify the apparent_temperature in the dataset
# create a function to classify the apparent_temperature
def warmness(apparent_temp):
    if apparent_temp <= 12:
        return 'Cold'
    elif apparent_temp > 12 and apparent_temp <= 20:
        return 'Warm'
    elif apparent_temp > 20 and apparent_temp <= 30:
        return 'Hot'
    else:
        return 'Very Hot'
    
# apply the function to the column apparent_temp
bike['warmness'] = bike['apparent_temp'].apply(warmness)

# check the values of the column warmness
print('Values of the column warmness: ', bike['warmness'].unique())

Values of the column warmness:  ['Cold' 'Warm' 'Hot' 'Very Hot']

In [108]:
# Create a new column name called humidity_level to classify the humidity in the dataset
# create a function to classify the humidity
def humidity_level(humidity):
    if humidity <= 0.40:
        return 'Low'
    elif humidity > 0.40 and humidity <= 0.70:
        return 'Medium'
    else:
        return 'High'
    
# apply the function to the column humidity
bike['humidity_level'] = bike['humidity'].apply(humidity_level)

# check the values of the column humidity_level
print('Values of the column humidity_level: ', bike['humidity_level'].unique())

Values of the column humidity_level:  ['High' 'Medium' 'Low']

In [109]:
# create a function to classify the windspeed
def windspeed_level(windspeed):
    if windspeed <= 10:
        return 'Low'
    elif windspeed > 10 and windspeed <= 20:
        return 'Medium'
    else:
        return 'High'

# apply the function to the column windspeed
bike['windspeed_level'] = bike['windspeed'].apply(windspeed_level)

# check the values of the column windspeed_level
print('Values of the column windspeed_level: ', bike['windspeed_level'].unique())

Values of the column windspeed_level:  ['Low' 'Medium' 'High']

In [110]:
# export the bike dataset to a csv file to the datasets folder
bike.to_csv('/Users/maximilianolopezsalgado/data_projects/capital_bike_sharing/datasets/bike_clean.csv', index=False)

In [111]:
### Enrich the original dataset with the other datasets

In [112]:
# import the other bike datasets with the trip history data
bike_2011 = pd.read_csv('/Users/maximilianolopezsalgado/data_projects/bike_sharing/datasets/2011-capitalbikeshare-tripdata.csv')
bike_2012_q1 = pd.read_csv('/Users/maximilianolopezsalgado/data_projects/bike_sharing/datasets/2012Q1-capitalbikeshare-tripdata.csv')
bike_2012_q2 = pd.read_csv('/Users/maximilianolopezsalgado/data_projects/bike_sharing/datasets/2012Q2-capitalbikeshare-tripdata.csv')
bike_2012_q3 = pd.read_csv('/Users/maximilianolopezsalgado/data_projects/bike_sharing/datasets/2012Q3-capitalbikeshare-tripdata.csv')
bike_2012_q4 = pd.read_csv('/Users/maximilianolopezsalgado/data_projects/bike_sharing/datasets/2012Q4-capitalbikeshare-tripdata.csv')
# explore the first 5 rows of the bike_2011 dataset
display(bike_2011.head())

# explore the first 5 rows of the bike_2012_q1 dataset
display(bike_2012_q1.head())

# explore the first 5 rows of the bike_2012_q2 dataset
display(bike_2012_q2.head())

# explore the first 5 rows of the bike_2012_q3 dataset
display(bike_2012_q3.head())

# explore the first 5 rows of the bike_2012_q4 dataset
display(bike_2012_q4.head())

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,3548,2011-01-01 00:01:29,2011-01-01 01:00:37,31620,5th & F St NW,31620,5th & F St NW,W00247,Member
1,346,2011-01-01 00:02:46,2011-01-01 00:08:32,31105,14th & Harvard St NW,31101,14th & V St NW,W00675,Casual
2,562,2011-01-01 00:06:13,2011-01-01 00:15:36,31400,Georgia & New Hampshire Ave NW,31104,Adams Mill & Columbia Rd NW,W00357,Member
3,434,2011-01-01 00:09:21,2011-01-01 00:16:36,31111,10th & U St NW,31503,Florida Ave & R St NW,W00970,Member
4,233,2011-01-01 00:28:26,2011-01-01 00:32:19,31104,Adams Mill & Columbia Rd NW,31106,Calvert & Biltmore St NW,W00346,Casual

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,475,2012-01-01 00:04:00,2012-01-01 00:11:56,31245,7th & R St NW / Shaw Library,31109,7th & T St NW,W01412,Member
1,1162,2012-01-01 00:10:05,2012-01-01 00:29:28,31400,Georgia & New Hampshire Ave NW,31103,16th & Harvard St NW,W00524,Casual
2,1145,2012-01-01 00:10:23,2012-01-01 00:29:28,31400,Georgia & New Hampshire Ave NW,31103,16th & Harvard St NW,W00235,Member
3,485,2012-01-01 00:15:41,2012-01-01 00:23:46,31101,14th & V St NW,31602,Park Rd & Holmead Pl NW,W00864,Member
4,471,2012-01-01 00:15:42,2012-01-01 00:23:34,31102,11th & Kenyon St NW,31109,7th & T St NW,W00995,Member

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,192,2012-04-01 00:01:13,2012-04-01 00:04:26,31237,25th St & Pennsylvania Ave NW,31212,21st & M St NW,W00663,Member
1,978,2012-04-01 00:01:49,2012-04-01 00:18:08,31225,C & O Canal & Wisconsin Ave NW,31228,8th & H St NW,W00574,Member
2,843,2012-04-01 00:03:25,2012-04-01 00:17:28,31230,Metro Center / 12th & G St NW,31201,15th & P St NW,W00201,Member
3,408,2012-04-01 00:03:37,2012-04-01 00:10:26,31110,20th St & Florida Ave NW,31239,Rhode Island & Connecticut Ave NW,W01060,Casual
4,163,2012-04-01 00:04:13,2012-04-01 00:06:57,31104,Adams Mill & Columbia Rd NW,31112,Harvard St & Adams Mill Rd NW,W01071,Casual

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,420,2012-07-01 00:00:08,2012-07-01 00:07:09,31104,Adams Mill & Columbia Rd NW,31200,Massachusetts Ave & Dupont Circle NW,W01155,Member
1,268,2012-07-01 00:00:31,2012-07-01 00:05:00,31616,3rd & H St NE,31615,6th & H St NE,W00405,Member
2,494,2012-07-01 00:00:32,2012-07-01 00:08:46,31307,3000 Connecticut Ave NW / National Zoo,31113,Columbia Rd & Belmont St NW,W00942,Member
3,655,2012-07-01 00:01:34,2012-07-01 00:12:29,31007,Crystal City Metro / 18th & Bell St,31002,20th & Crystal Dr,W01121,Member
4,1681,2012-07-01 00:02:06,2012-07-01 00:30:08,31235,19th St & Constitution Ave NW,31222,New York Ave & 15th St NW,W01039,Casual

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,611,2012-10-01 00:02:06,2012-10-01 00:12:17,31230,Metro Center / 12th & G St NW,31212,21st & M St NW,W00311,Member
1,612,2012-10-01 00:02:52,2012-10-01 00:13:05,31624,North Capitol St & F St NW,31251,12th & L St NW,W00137,Member
2,734,2012-10-01 00:06:34,2012-10-01 00:18:48,31234,20th & O St NW / Dupont South,31223,Convention Center / 7th & M St NW,W20125,Member
3,219,2012-10-01 00:07:27,2012-10-01 00:11:06,31106,Calvert & Biltmore St NW,31104,Adams Mill & Columbia Rd NW,W01451,Member
4,924,2012-10-01 00:07:28,2012-10-01 00:22:53,31109,7th & T St NW,31615,6th & H St NE,W00441,Member

In [113]:
# check the shape of the bike_2011 dataset
display(print('Shape of the bike_2011 dataset: ', bike_2011.shape))

# check the shape of the bike_2012_q1 dataset
display(print('Shape of the bike_2012_q1 dataset: ', bike_2012_q1.shape))

# check the shape of the bike_2012_q2 dataset
display(print('Shape of the bike_2012_q2 dataset: ', bike_2012_q2.shape))

# check the shape of the bike_2012_q3 dataset
display(print('Shape of the bike_2012_q3 dataset: ', bike_2012_q3.shape))

# check the shape of the bike_2012_q4 dataset
display(print('Shape of the bike_2012_q4 dataset: ', bike_2012_q4.shape))

Shape of the bike_2011 dataset:  (1226767, 9)

None

Shape of the bike_2012_q1 dataset:  (361317, 9)

None

Shape of the bike_2012_q2 dataset:  (566832, 9)

None

Shape of the bike_2012_q3 dataset:  (629917, 9)

None

Shape of the bike_2012_q4 dataset:  (470845, 9)

None

In [114]:
# check the columns of the bike_2011 dataset
display(print('Columns of the bike_2011 dataset: ', bike_2011.columns))

# check the columns of the bike_2012_q1 dataset
display(print('Columns of the bike_2012_q1 dataset: ', bike_2012_q1.columns))

# check the columns of the bike_2012_q2 dataset
display(print('Columns of the bike_2012_q2 dataset: ', bike_2012_q2.columns))

# check the columns of the bike_2012_q3 dataset
display(print('Columns of the bike_2012_q3 dataset: ', bike_2012_q3.columns))

# check the columns of the bike_2012_q4 dataset
display(print('Columns of the bike_2012_q4 dataset: ', bike_2012_q4.columns))

Columns of the bike_2011 dataset:  Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

None

Columns of the bike_2012_q1 dataset:  Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

None

Columns of the bike_2012_q2 dataset:  Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

None

Columns of the bike_2012_q3 dataset:  Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

None

Columns of the bike_2012_q4 dataset:  Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

None

In [115]:
# check the data types of the bike_2011 dataset
display(print('Data types of the bike_2011 dataset: ', bike_2011.dtypes))

# check the data types of the bike_2012_q1 dataset
display(print('Data types of the bike_2012_q1 dataset: ', bike_2012_q1.dtypes))

# check the data types of the bike_2012_q2 dataset
display(print('Data types of the bike_2012_q2 dataset: ', bike_2012_q2.dtypes))

# check the data types of the bike_2012_q3 dataset
display(print('Data types of the bike_2012_q3 dataset: ', bike_2012_q3.dtypes))

# check the data types of the bike_2012_q4 dataset
display(print('Data types of the bike_2012_q4 dataset: ', bike_2012_q4.dtypes))

Data types of the bike_2011 dataset:  Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

None

Data types of the bike_2012_q1 dataset:  Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

None

Data types of the bike_2012_q2 dataset:  Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

None

Data types of the bike_2012_q3 dataset:  Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

None

Data types of the bike_2012_q4 dataset:  Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

None

In [116]:
# concatenate the bike_2011 and bike_2012_q1, bike_2012_q2, bike_2012_q3, bike_2012_q4 datasets
trip_history = pd.concat([bike_2011, bike_2012_q1, bike_2012_q2, bike_2012_q3, bike_2012_q4], axis=0)

# check the shape of the trip_history dataset
display(print('Shape of the trip_history dataset: ', trip_history.shape))

# check the columns of the trip_history dataset
display(print('Columns of the trip_history dataset: ', trip_history.columns))

# check the data types of the trip_history dataset
display(print('Data types of the trip_history dataset: ', trip_history.dtypes))

# check the first 5 rows of the trip_history dataset
display(trip_history.head())

Shape of the trip_history dataset:  (3255678, 9)

None

Columns of the trip_history dataset:  Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

None

Data types of the trip_history dataset:  Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

None

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,3548,2011-01-01 00:01:29,2011-01-01 01:00:37,31620,5th & F St NW,31620,5th & F St NW,W00247,Member
1,346,2011-01-01 00:02:46,2011-01-01 00:08:32,31105,14th & Harvard St NW,31101,14th & V St NW,W00675,Casual
2,562,2011-01-01 00:06:13,2011-01-01 00:15:36,31400,Georgia & New Hampshire Ave NW,31104,Adams Mill & Columbia Rd NW,W00357,Member
3,434,2011-01-01 00:09:21,2011-01-01 00:16:36,31111,10th & U St NW,31503,Florida Ave & R St NW,W00970,Member
4,233,2011-01-01 00:28:26,2011-01-01 00:32:19,31104,Adams Mill & Columbia Rd NW,31106,Calvert & Biltmore St NW,W00346,Casual

In [117]:
# check the missing values of the trip_history dataset
display(trip_history.isnull().sum())

Duration                0
Start date              0
End date                0
Start station number    0
Start station           0
End station number      0
End station             0
Bike number             0
Member type             0
dtype: int64

In [118]:
# count unique values of column start station and end station
display(trip_history['Start station'].nunique())
display(trip_history['End station'].nunique())

194

194

In [119]:
# count the unique values of the columns start station and end station
start_station_count_2011_2012 = trip_history['Start station'].value_counts()
end_station_count_2011_2012 = trip_history['End station'].value_counts()
display(start_station_count_2011_2012)
display(end_station_count_2011_2012)

Massachusetts Ave & Dupont Circle NW         107162
Columbus Circle / Union Station               77750
15th & P St NW                                73707
17th & Corcoran St NW                         63502
Adams Mill & Columbia Rd NW                   62378
                                              ...
Potomac Ave & 35th St S                         130
21st St & Constitution Ave NW                    87
11th & F St NW                                   38
11th & M St NW                                    1
Nannie Helen Burroughs & Minnesota Ave NE         1
Name: Start station, Length: 194, dtype: int64

Massachusetts Ave & Dupont Circle NW         118707
15th & P St NW                                83457
Columbus Circle / Union Station               79681
17th & Corcoran St NW                         67382
14th & V St NW                                59658
                                              ...
Branch & Pennsylvania Ave SE                    160
Fairfax Village                                 121
21st St & Constitution Ave NW                    88
11th & M St NW                                   87
Nannie Helen Burroughs & Minnesota Ave NE         3
Name: End station, Length: 194, dtype: int64

In [120]:
# create a list with the unique values of the columns start station
start_station = trip_history['Start station'].unique().tolist()

# export the list to a csv file to the datasets folder
pd.DataFrame(start_station).to_csv('/Users/maximilianolopezsalgado/data_projects/capital_bike_sharing/datasets/stations_list.csv', index=False)

#### Transform the duration column to minutes

In [121]:
# calculate the duration of the trips in minutes
trip_history['Duration'] = trip_history['Duration']/60

# print the first 5 rows of the duration column
display(trip_history['Duration'].head())

0    59.133333
1     5.766667
2     9.366667
3     7.233333
4     3.883333
Name: Duration, dtype: float64

#### clean the dataset trip_history to get the most important information

In [122]:
# drop unnecessary columns
trip_history_cleaned = trip_history.drop(['Start date', 'Member type', 'End date', 'Start station number', 'End station number', 'Bike number'], axis=1, inplace=True)

# check the first 5 rows of the trip_history dataset
display(trip_history.head())

    Duration                   Start station                  End station
0  59.133333                   5th & F St NW                5th & F St NW
1   5.766667            14th & Harvard St NW               14th & V St NW
2   9.366667  Georgia & New Hampshire Ave NW  Adams Mill & Columbia Rd NW
3   7.233333                  10th & U St NW        Florida Ave & R St NW
4   3.883333     Adams Mill & Columbia Rd NW     Calvert & Biltmore St NW

In [123]:
# change the data type of the column start station and end station to string
trip_history_cleaned['Start station'] = trip_history_cleaned['Start station'].astype(str)
trip_history_cleaned['End station'] = trip_history_cleaned['End station'].astype(str)

TypeError: 'NoneType' object is not subscriptable

In [ ]:
# export the trip_history dataset to a csv file
trip_history_cleaned.to_csv('/Users/maximilianolopezsalgado/data_projects/capital_bike_sharing/datasets/trip_history.csv', index=False)

In [ ]:
# import the station_coordinates_cleaned dataset
station_coordinates_cleaned = pd.read_csv('/Users/maximilianolopezsalgado/data_projects/capital_bike_sharing/datasets/station_coordinates_cleaned.csv')

# check the first 5 rows of the station_coordinates_cleaned dataset
display(station_coordinates_cleaned.head())

,station_name,station_latitude,station_longitude
0,Marymount University / Yorktown Blvd & 26th St N,38.904252,-77.127776
1,East Falls Church Metro / Sycamore St & 19th St N,38.885321,-77.156427
2,E Fairfax St & S Washington St,38.880612,-77.171891
3,Inlet Ct & Wiehle Dr,38.965979,-77.334359
4,Reservoir Rd & 38th St NW,38.912614,-77.074323

### Merge the trip_history_cleaned and station_coordinates_cleaned datasets

In [ ]:
# create a for that creates a list that adds the values that exist in the start_station_count_2011_2012 and in the station_coordinates_cleaned dataset
start_station_count_2011_2012_list = []
for i in start_station_count_2011_2012.index:
    if i in station_coordinates_cleaned['station_name'].values:
        start_station_count_2011_2012_list.append(i)

# count the values on this list
display(len(start_station_count_2011_2012_list))

# create a for that creates a list that adds the values that exist in the end_station_count_2011_2012 and in the station_coordinates_cleaned dataset
end_station_count_2011_2012_list = []
for i in end_station_count_2011_2012.index:
    if i in station_coordinates_cleaned['station_name'].values:
        end_station_count_2011_2012_list.append(i)

# count the values on this list
display(len(end_station_count_2011_2012_list))

151

151

In [ ]:
# create a list with the values that exist in start_station_count_2011_2012 but not in station_coordinates_cleaned
start_missing_stations = []
for i in start_station_count_2011_2012.index:
    if i not in station_coordinates_cleaned['station_name'].values:
        start_missing_stations.append(i)

# count the values on this list
display(len(start_missing_stations))
# display the whole list
display(start_missing_stations)

43

['Eastern Market Metro / Pennsylvania Ave & 7th St SE',
 '14th & Rhode Island Ave NW',
 '21st & M St NW',
 'USDA / 12th & Independence Ave SW',
 '19th & L St NW',
 '7th & T St NW',
 'Crystal City Metro / 18th & Bell St',
 'Lynn & 19th St North',
 'Connecticut Ave & Newark St NW / Cleveland Park',
 '1st & K St SE',
 '11th & H St NE',
 'Georgia Ave and Fairmont St NW',
 'Rosslyn Metro / Wilson Blvd & Ft Myer Dr',
 '27th & Crystal Dr',
 'S Glebe & Potomac Ave',
 '23rd & Crystal Dr',
 '20th & Crystal Dr',
 '18th & Eads St.',
 '1st & N St  SE',
 'S Joyce & Army Navy Dr',
 '15th & Crystal Dr',
 'N Rhodes & 16th St N',
 '12th & Army Navy Dr',
 '19th & K St NW',
 'Eads & 22nd St S',
 '26th & S Clark St',
 'Virginia Square Metro / N Monroe St & 9th St N',
 'Ballston Metro / N Stuart & 9th St N',
 'Wilson Blvd & Franklin Rd',
 'Lee Hwy & N Adams St',
 'Pentagon City Metro / 12th & S Hayes St',
 'Aurora Hills Community Ctr/18th & Hayes St',
 '15th & N Scott St',
 'Central Library / N Quincy St & 10th St N',
 'N Veitch  & 20th St N',
 'N Randolph St & Fairfax Dr',
 'N Veitch & Key Blvd',
 'Key Blvd & N Quinn St',
 'Braddock Rd Metro',
 'Fairfax Dr & Kenmore St',
 'Saint Asaph St & Pendleton  St',
 'Utah St & 11th St N ',
 '21st St & Constitution Ave NW']

In [ ]:
# create a loop that find the station names that are in the end_station_count_2011_2012 dataset and in the station_coordinates_cleaned 
end_missing_stations = []
for i in end_station_count_2011_2012.index:
    if i not in station_coordinates_cleaned['station_name'].values:
        end_missing_stations.append(i)

# count the values on this list
display(len(end_missing_stations))
display(end_missing_stations)

43

['Eastern Market Metro / Pennsylvania Ave & 7th St SE',
 '14th & Rhode Island Ave NW',
 '21st & M St NW',
 'USDA / 12th & Independence Ave SW',
 '19th & L St NW',
 '7th & T St NW',
 'Lynn & 19th St North',
 'Crystal City Metro / 18th & Bell St',
 'Connecticut Ave & Newark St NW / Cleveland Park',
 '11th & H St NE',
 '1st & K St SE',
 'Rosslyn Metro / Wilson Blvd & Ft Myer Dr',
 '27th & Crystal Dr',
 '23rd & Crystal Dr',
 'S Glebe & Potomac Ave',
 '20th & Crystal Dr',
 '1st & N St  SE',
 'Georgia Ave and Fairmont St NW',
 '18th & Eads St.',
 '15th & Crystal Dr',
 'S Joyce & Army Navy Dr',
 '12th & Army Navy Dr',
 'Eads & 22nd St S',
 '19th & K St NW',
 '26th & S Clark St',
 'Virginia Square Metro / N Monroe St & 9th St N',
 'N Rhodes & 16th St N',
 'Pentagon City Metro / 12th & S Hayes St',
 'Ballston Metro / N Stuart & 9th St N',
 'Aurora Hills Community Ctr/18th & Hayes St',
 'Wilson Blvd & Franklin Rd',
 'Lee Hwy & N Adams St',
 'Central Library / N Quincy St & 10th St N',
 'N Randolph St & Fairfax Dr',
 '15th & N Scott St',
 'N Veitch  & 20th St N',
 'Key Blvd & N Quinn St',
 'N Veitch & Key Blvd',
 'Saint Asaph St & Pendleton  St',
 'Fairfax Dr & Kenmore St',
 'Braddock Rd Metro',
 'Utah St & 11th St N ',
 '21st St & Constitution Ave NW']

In [135]:
# corroborate that the values in the start_missing_stations and end_missing_stations are the same
display(start_missing_stations == end_missing_stations)

# create a list with the values that exist in start_station_count_2011_2012 but not in station_coordinates_cleaned
start_vs_end_station = []
for i in start_missing_stations:
    if i not in end_missing_stations:
        start_vs_end_station.append(i)

# count the values on this list
display(len(start_vs_end_station))

False

0

In [136]:
# create a dataframe with the missing stations in the future we will add the coordinates manually
missing_stations_df = pd.DataFrame({'station_name': end_missing_stations})

# print the first 5 rows of the missing_stations_df
display(missing_stations_df.head())

                                        station_name
0  Eastern Market Metro / Pennsylvania Ave & 7th ...
1                         14th & Rhode Island Ave NW
2                                     21st & M St NW
3                  USDA / 12th & Independence Ave SW
4                                     19th & L St NW

In [137]:
# add station_latitude and station_longitude columns to the missing_stations_df
missing_stations_df['station_latitude'] = ''
missing_stations_df['station_longitude'] = ''

# print the first 5 rows of the missing_stations_df
display(missing_stations_df.head())

,station_name,station_latitude,station_longitude
0,Eastern Market Metro / Pennsylvania Ave & 7th ...,,
1,14th & Rhode Island Ave NW,,
2,21st & M St NW,,
3,USDA / 12th & Independence Ave SW,,
4,19th & L St NW,,

In [139]:
# export the missing_stations_df to a csv file to the datasets folder in order to add the coordinates manually
missing_stations_df.to_csv('/Users/maximilianolopezsalgado/data_projects/capital_bike_sharing/datasets/missing_stations_df.csv', index=False)